.container {
    background-color: #f6f6f8;
    max-width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    overflow: hidden;
}

.title {
    font-size: 1.2rem;
    font-weight: 480;
    text-align: center;
}

.contains-products {
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2rem;
}

.image {
    max-width: 100%;
}

.detail-product {
    background-color: #e7e7e7;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem 0;
    max-width: 50rem;
}

.price {
    font-size: 2rem;
    margin: 1rem 0;
}

.stock {
    margin-bottom: 1.5rem;
}

.title-secundary {
    font-weight: 550;
    margin-bottom: 2rem;
}

.text {
    line-height: 1.5rem;
}