.ItemContainer {
    width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    background-color: #ecebeb;
}