.page {
    max-width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f3f3f3;
}

.spinners {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50% -50%);
}

.item-title {
    font-weight: 450;
    text-align: center;
    margin: 2rem;
    font-style: italic;
}