.Item-container {
    max-width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: #ecebeb;
}

@media (max-width: 1250px) {
    .Item-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .Item-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .Item-container {
        grid-template-columns: 1fr;
    }
}