.footer {
    margin-top: 5rem;
}

.footer-txt {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #888888;
    color: #000;
    font-size: 1.1rem;
    font-weight: 550;
    text-align: center;
}