.mainTitle {
    color: #000;
    font-family: "Satisfy", cursive;
    font-weight: 450;
    text-shadow: 5px 1px 10px #fa0000;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: rgba(0, 89, 255, 0.247);
}

.navContainer {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navSelect {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.navLink {
    color: #000;
    font-size: 1rem;
    font-style: italic;
}
.navLink:hover {
    transition: font-size 1s;
    font-size: 1.3rem;
}